In [50]:
import pandas as pd

csv_path = "Micro_category/Inference/predictions_2024_Micro-lora-8B.csv"
df = pd.read_csv(csv_path)
df["date"]

0                2024-01-01
1                2024-01-01
2                2024-01-01
3                2024-01-01
4                2024-01-01
               ...
2996    2024-12-30 20:12:00
2997    2024-12-31 20:15:00
2998    2024-12-31 20:32:00
2999    2024-12-31 13:16:00
3000    2024-12-31 20:26:00
Name: date, Length: 3001, dtype: object

In [51]:
df["date"] = df["date"].str.split(" ").str[0]

In [52]:
df["date"]

0       2024-01-01
1       2024-01-01
2       2024-01-01
3       2024-01-01
4       2024-01-01
           ...
2996    2024-12-30
2997    2024-12-31
2998    2024-12-31
2999    2024-12-31
3000    2024-12-31
Name: date, Length: 3001, dtype: object

In [53]:
pd.to_datetime("2024-12-30 20:12:00").month

12

In [54]:
# Si tout est valide, on peut refaire la conversion en datetime sans erreurs
df["date_converted"] = pd.to_datetime(df["date"], errors="coerce")

# Vérification finale
print(f"Nombre de NaT après conversion : {df['date_converted'].isna().sum()}")
df["date_converted"]

Nombre de NaT après conversion : 0

0      2024-01-01
1      2024-01-01
2      2024-01-01
3      2024-01-01
4      2024-01-01
          ...
2996   2024-12-30
2997   2024-12-31
2998   2024-12-31
2999   2024-12-31
3000   2024-12-31
Name: date_converted, Length: 3001, dtype: datetime64[ns]